<ion-header>
    <ion-toolbar>
        <ion-title>Registration</ion-title>
    </ion-toolbar>
</ion-header>

<ion-content>

    <ion-list>
        <ion-item>
            <ion-input [(ngModel)]= "currentUser.name" placeholder="Enter Name" clearInput></ion-input>
        </ion-item>
        <ion-item>
            <ion-input [(ngModel)]= "currentUser.email" placeholder="Enter Email" clearInput></ion-input>
        </ion-item>
        <ion-item>
            <ion-input [(ngModel)]= "currentUser.password" placeholder="Password Input" clearInput></ion-input>
        </ion-item>
    </ion-list>

    <ion-button (click)="Register()" >Register</ion-button>
    <ion-button (click)="navToLogin()"> Already registered? - Sign In Here</ion-button>

</ion-content>