<ion-header>
    <ion-toolbar>
        <ion-title>Registration</ion-title>
    </ion-toolbar>
</ion-header>

<ion-content>

    <ion-list>
        <ion-item>
            <ion-input placeholder="Enter Name" clearInput></ion-input>
        </ion-item>
        <ion-item>
            <ion-input placeholder="Enter Email" clearInput></ion-input>
        </ion-item>
        <ion-item>
            <ion-input type="password" placeholder="Password Input"></ion-input>
        </ion-item>
    </ion-list>

    <ion-button padding (click)="register()">Register</ion-button>
    <ion-button padding href="/login"> Already registered? - Sign In Here</ion-button>

</ion-content>