<ion-header>
  <ion-toolbar>
      <ion-title>
          <!-- <b>Profile: {{user.name}}</b> -->
      </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-item>
      <ion-avatar class="avatar">
          <img src="https://media.wired.com/photos/5c83219a692d1216df5ce666/master/pass/Transpo-Elon-Musk-RTX6P9YW.jpg">
      </ion-avatar>
      <ion-label>
          <ion-title><b>Tommy Hessel</b>
              <!-- Name : {{user.name}} To fetch info from user object -->
          </ion-title>
      </ion-label>
  </ion-item>
  <ion-item>
      <ion-card>
          <ion-card-header>
              <ion-card-title>About Me</ion-card-title>
          </ion-card-header>
          <ion-card-content>
              <p>
                  <b>Tommy Hessel</b> is a rising junior at Duke University studying Computer Science, Energy & the Environment, and Economics. At Duke, Tommy serves as a member of the student government, a staffer for a pre-orientation program, and
                  a Teaching Assistant for Computer Science 101. Tommy will be back in Durham for the second half of summer where he will be taking statistics summer school courses.
              </p>
              <p>
                  Being from Texas, Tommy grew up around hiking, fishing, hunting, and all things outdoors. Tommy was also an avid lacrosse player and rower throughout high school, as well as an amateur soccer player. In his spare time, Tommy enjoys finding interesting
                  YouTube videos, 3D printing, and reading. He is looking forward to watching Duke lacrosse in the NCAA finals and having a great time in Lisbon!
              </p>
              <p>
                  My GitHub username is <b>Hesselt17</b> and is pretty straightforward. (20)17 was the year in which I graduated high school and was my number in sports growing up. But a fun fact with most my other usernames is that they usually have
                  some arrangement of 214 which is both my area code and birthday (2/14).
              </p>
          </ion-card-content>
      </ion-card>
  </ion-item>
  <ion-item>
      <ion-card>
          <ion-card-header>
              <ion-card-title>Contact Info</ion-card-title>
          </ion-card-header>
          <ion-card-content>
              Email - hesselt17@gmail.com
          </ion-card-content>
          <ion-card-content>
              Cell - 214-412-0878
          </ion-card-content>
      </ion-card>

  </ion-item>
  <ion-item>
      Stats
      <ion-chip>
          Number of Bookings
      </ion-chip>
      <ion-chip>
          Number of Reviews Received
      </ion-chip>
  </ion-item>
  <ion-item>
      <ion-list>
          Reviews List
      </ion-list>
  </ion-item>
</ion-content>